<h2>Recently Added</h2>
<div>
    <% books.forEach( book => { %>
        <a href="/books/<%= book.id %>" ><img height="150" width="100" src="<%= book.coverImagePath %>" title="<%= book.title %> <%= book.publishDate.toISOString().split('T')[0]%>"> 
            </a>
    <% }) %>
</div>