<h2>Add New Authors</h2>
<form action="/authors" method="post">
    <%- include('../partials/errorMessage') %>
    <%- include('_form_fields')%>
    <a href="/authors">Cancel</a>
    <button type="submit">Create</button>
</form>